# Environnement
backend/.env
.env

# Dépendances
backend/node_modules/
frontend/node_modules/

# index.json inclus dans le repo pour Render

# Build frontend
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db