# Environnement
backend/.env
.env

# Dépendances
backend/node_modules/
frontend/node_modules/

# Données locales (PDFs trop lourds pour GitHub)
backend/data/

# Build frontend
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db